@import "../../vars.css";

.loader {
  border: 5px solid transparent;
  border-top: 5px solid var(--colour-primary2);
  border-bottom: 5px solid var(--colour-secondary2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
