@import "../../vars.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 60px;
  margin: 0 10%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--colour-primary1);
  color: var(--colour-text);
}

.navLink {
  text-decoration: none;
  color: var(--colour-secondary1);
  transition: 0.3s;
}

.loggedInUser {
  font-size: 20px;
  color: var(--colour-secondary1);
}
