@import "../../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin: 0 10%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--colour-text);
  color: var(--colour-text);
}

.navLink {
  text-decoration: none;
  color: var(--colour-text);
  transition: 0.3s;
}

.navLink:hover {
  color: var(--colour-secondary2);
}
